<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Use the iisnode handler to run server.js -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- URL rewrite all requests to server.js -->
    <rewrite>
      <rules>
        <rule name="NodeJS" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Let errors from Node.js pass through instead of IIS error pages -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Optional logging settings -->
    <iisnode 
      loggingEnabled="true"
      devErrorsEnabled="true" 
    />

  </system.webServer>
</configuration>
